/*Páginas Fotos*/

.image-wrapper {
    width: 100%;
    height: auto;
    margin: 15px auto;
}

img {
    width: 100%;
}

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    padding: 5px;
}

.column img {
    margin-top: 5px;
}

@media screen and(max-width:700px) {
    .column {
        flex: 50%
    }
}

@media screen and(max-width:500px) {
    .column {
        flex: 100%
    }
}

@media screen and(max-width:300px) {
    .column {
        flex: 100%
    }
}